extends layout

block content
    .aboutTheDevs
        h1 Connect with the Developers
        h3 Chris Breen
        div
            a(href="https://github.com/breencf" class="githubButton")
                <i class="fab fa-github"></i> Github
            a(href="https://www.linkedin.com/in/breencf/" class="linkedInButton")
                <i class="fab fa-linkedin"></i> LinkedIn
        h3 Jesse Brooks
        div
            a(href="https://github.com/Josso7" class="githubButton")
                <i class="fab fa-github"></i> Github
        h3 Daniel LaVergne
        div
            a(href="https://www.linkedin.com/in/daniel-lavergne-137772206/" class="linkedInButton")
                <i class="fab fa-linkedin"></i> LinkedIn
        h3 Nathan Treadway
        div
            a(href="https://github.com/ta-cos" class="githubButton")
                <i class="fab fa-github"></i> Github
