p= followingBinary
if followingBinary

    button.followButton(value="" + profileUser.id id="" + userId class='following') Following
else
    button.followButton(value="" + profileUser.id id="" + userId class='follow') Follow
