if following
    button.followButton(value="" + profileUser.id id="" + userId class='following') Still didn't work
else
    button.followButton(value="" + profileUser.id id="" + userId class='follow') Didn't Work
