extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  if locals.authenticated
    h1 #{user.firstName}'s Feed
  else
    h1 Medium Medium

  .recentStories
    ul
      for story in storyList
        li.storyAuthor Written by: #{story.User.username}
        li.stroryTitle=story.title
        li.stroyContent=story.content
