extends layout

append head
  //- add page specific styles by appending to the head
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  if locals.authenticated
    h1.header #{user.firstName}'s Feed
    a(href="stories/new") Create Story
  else
    h1.header Medium for Mediums is a place for the spiritual to write, read, and connect

  .recentStories
    ul.listHeader Most Recent on Medium for Mediums
      for story in storyList
        .storyDiv(value=""+ story.id href="/stories/id")
          li.storyAuthor
            img.titleImage(src="" + story.User.profileImage)
            a.authorName #{story.User.username}
          li.stroryTitle=story.title
