extends layout.pug
block content

    h1 login page
    //- #loginForm
    //-     form(action="/users/login" method="POST")
    //-         input(type='hidden' name='_csrf' value=csrfToken)
    //-         label(for="email") email
    //-         input(type="email" required="required" name="email")
    //-         label(for="password") password
    //-         input(type="password" required="required" name="password")
    //-         input(type="submit" value="submit")
