extends layout.pug

block content
    h1= story.title
    .story
        p= story.content
        div
            include like-button.pug
        if user.id == story.userId
            form(action="/stories/"+ story.id + "/edit" method='GET')
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='submit' value='Edit')
            form(action="/stories/"+ story.id method='POST')
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='submit' value='Delete')
    footer
                script(src="/javascripts/like.js" type="module")
