*{
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 14;
}


.nav a{
    padding-right: 15px;
}

.noAuthMenu{
    margin-left: auto;
}

#buttonLogOut{
    float: right;
}

.recentStories{
    margin: 10px;
    width: 60%;
}

.header{
    width: 50%;
    overflow: wrap;
    text-align: left;
    margin-left: 25px;
    font-size: 50px;
    border-bottom: 1px solid black;
}

.listHeader{
    margin-left: 25px;
}

.mediumImg{
    content:url(/images/resizedHeader.png) ;
}

.storyDiv{
    height: 10row;
    overflow: hidden;
    padding-top: 25px;
    margin-left: 25px;
}

.storyAuthor{
    display: flex;
    align-items: center;
}

.stroryTitle{
    font-size: 20px;
    font-weight: 900;
    margin-top: 10px;
}

.titleImage{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
}

.authorName{

    padding-left: 20px;
}

.storyPreview{
    line-height: 1.1;
    height: 2.3em;
    overflow: hidden;
    margin-top: 10px;
}

/* .likeButton.liked {
    color: red;
}

.likeButton.not-liked {
    color: black;
} */

.likeButton {
    font-size: 12.5px;
}
