
*{
    box-sizing: border-box;

}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;

}

#storyImage{
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightgray;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 14;
    background-color: goldenrod;
    width: 100%;
}

.nav a {
  padding-right: 15px;
}


.callToAction{
    display: flex;
    background-color: goldenrod;
    width: 100%;
    border-bottom: 1px black solid;
    justify-content: center;
}

.noAuthMenu{
    display: flex;
    margin-left: auto;
    padding-right: 15px;
    align-items: center;
    font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.authMenu{
    display: flex;
    margin-left: auto;
    padding-right: 15px;
    align-items: center;
    font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.noAuthMenu:hover{
    cursor: pointer;
}

#demoButton, #logoutButton{
    border-radius: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#logoutDiv{
    padding-right: 15px;
}

#buttonLogOut {
  float: right;
}

.recentStories {
  margin: 10px;
  width: 60%;
}

.header {
  width: 50%;
  overflow: wrap;
  text-align: left;
  margin-left: 25px;
  font-size: 50px;
  border-bottom: 1px solid black;

}

.listHeader {
  margin-left: 25px;
}

.mediumImg {
  content: url(/images/resizedHeader.png);
}

.storyDiv {
  height: 10row;
  overflow: hidden;
  padding-top: 25px;
  margin-left: 25px;
}


.storyDiv:hover{
    cursor: pointer;
}

.storyAuthor{
    display: flex;
    align-items: center;

}

.stroryTitle {
  font-size: 20px;
  font-weight: 900;
  margin-top: 10px;
}

.titleImage {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
}

.authorName {
  padding-left: 20px;
}

.storyPreview {
  line-height: 1.1;
  height: 2.3em;
  overflow: hidden;
  margin-top: 10px;
}

.liked {
  color: red;
}


.likeButton {
  font-size: 14px;
  background-color: inherit;
  border: none;
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

i {
  padding-right: 10px;
  font-size: 18px;
}

.authorName {
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.storyTitle {
  font-size: 22px;
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.storyDiv li {
  padding-bottom: 8px;
}

.footer{
    display: flex;
    background-color: black;
    color: white;
    height: 75px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#followingImages{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
}

#createStoryButton{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 25px;
    border-radius: 25px;
    background-color: black;
    color: white;
    height: 5%;
    width: 20%;
    font-size: 20px;
}



/* font-family: family-name|generic-family|initial|inherit; */
