label{
    font-family: 'Playfair Display', serif;
}

form{
    width: 80%;
}

textarea{
    font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    border: 1px solid lightgray;

}

textarea:focus{
    outline: none;
    box-shadow: 0px 0px 5px lightgray;
}

input::placeholder{
    text-align: center;
}

input:focus{
    box-shadow: 0px 2px 5px lightgray;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.buttons > *{
    border-radius: 20px;
    color: black;
    font-size: 16px;
    font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#submitStory{
    background-color: black;
    color: white;
    padding: 5px;
}

#cancelStory:hover{
    text-decoration: underline;
}
