.followingIcon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;
}

li {
  list-style-type: none;
}

#profileImage {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.body {
  display: flex;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.profile-nav {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 100%;
}
.profile-nav span {
  margin-left: 20px;
  margin-right: 20px;
}
.profile-header h1 {
  font-size: 84px;
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: center;
}

hr {
  width: 100%;
  background-color: fuchsia;
}

.about-sidebar {
  background-color: #bebebe;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-sidebar > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.profile {
  display: flex;
}

.listHeader h4 {
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
