.followingIcon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 10px;
}

li {
  list-style-type: none;
}

#profileImage {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.body {
  display: flex;
}

.profile-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(#704c5e, white);
}
.profile-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 100%;
}
.profile-nav span {
  margin-left: 20px;
}
.profile-header h1 {
  font-size: 84px;
  text-align: center;
}

hr {
  width: 100%;
  background-color: fuchsia;
}

.about-sidebar {
  background-color: #704c5e;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-sidebar > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  width: 100%;
}

.about-sidebar > div > * {
  margin-bottom: 10px;
}

.listHeader h4 {
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.followButton {
  width: 105px;
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 13px;
  border-radius: 20px;
  padding: 10px 20px;
}

.follow {
  background-color: white;
  border: 1px solid #f1c8db;
}

.following {
  background-color: #f1c8db;
  border: 1px solid #f1c8db;
}
