.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.storyContent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 80%;
  text-align: justify;
  text-align-last: justify;
}

.comments {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  width: 500px;
}

#commentContent {
  width: 80%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  border: lightgray;
  font-weight: bold;
}

#commentContent::placeholder {
  color: rgb(220, 220, 220);
}

.editDeleteButtons {
  display: flex;
  flex-direction: row;
  margin: 10px;
  margin-left: auto;
}

#deleteStoryButton input[type="submit"],
.deleteCommentButtons,
.cancelEdit {
  background-color: #ff0035;
  opacity: 90%;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  border: none;
}

#editStoryButton input[type="submit"],
.editCommentButtons,
.submitEdit,
#submitCommentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  border: none;
}

#submitCommentButton {
  margin-bottom: 10px;
}
#newComment {
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  width: 40vw;
  height: 50px;
  background-color: white;
  margin-bottom: 10px;
}

/* #submitCommentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  border: none;
} */

.editText {
  display: none;
}

.editText.open {
  display: flex;
}

.likeAndEdit {
  display: flex;
  width: 200px;
  align-items: flex-end;
  justify-content: space-between;
}
